@media only screen and (min-width: 992px) {
    .transfers-container {
        padding: 50px;
        padding-top: 0;
    }
}

.transfers-container .dashboard-section-nav {
    margin-top: 40px;
    margin-bottom: 30px;
}

table {
    width: 100%;
  }