@media only screen and (min-width: 992px) {
    .new-category-container {
        padding: 50px;
        padding-top: 0;
    }

    .new-category-form-container-card {
        padding: 30px;
    }
}

.new-category-container .dashboard-section-nav {
    margin-top: 40px;
    margin-bottom: 30px;
}

.example-full-width {
    width: 100%;
  }

.new-category-form-field {
    width: 100%;
}