<div class="container-fluid login-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card login-card">
                    <div class="card-title">
                        <div>
                            <img src="logs-logo-01.png" class="user-img img-fluid" style="width: 100px; height: 100px;">
                        </div>
                        <p>Login or <a routerLink="/signup">Sign Up</a>
                            to Get Started</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="login(loginInfo)" #loginInfo="ngForm">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faEnvelope"></fa-icon></span>
                                <div class="form-floating">
                                    <input name="email" type="email" class="form-control" placeholder="Email Address"
                                        aria-label="Email" aria-describedby="basic-addon1" id="floatingInput" ngModel required>
                                    <label for="floatingInput">Email Address</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faKey"></fa-icon></span>
                                <div class="form-floating">
                                    <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password"
                                        aria-describedby="basic-addon1" id="floatingInput" ngModel required>
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit" routerLink="/dashboard" class="btn btn-outline-success" style="width: 100%;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>