<div class="container-fluid login-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card login-card">
                    <div class="card-title">
                        <h2>Login</h2>
                        <p>or <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
                            to Get Started</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-suitcase"></i></span>
                                <div class="form-floating">
                                    <input type="email" class="form-control" placeholder="Email Address"
                                        aria-label="Email" aria-describedby="basic-addon1" id="floatingInput">
                                    <label for="floatingInput">Email Address</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-suitcase"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                                        aria-describedby="basic-addon1" id="floatingInput">
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>