<div class="container-fluid signup-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="card signup-card">
                    <div class="card-title">
                        <h2>Welcome to LOGS!</h2>
                        <p>Sign Up to Get Started or <a routerLink="/login">Login to your Account</a></p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Firstname" aria-label="Business"
                                    aria-describedby="basic-addon1">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Lastname" aria-label="Business"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-suitcase"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Business Name"
                                    aria-label="Business" aria-describedby="basic-addon1" id="floatingInput">
                                    <label for="floatingInput">Business Name</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                <input type="text" class="form-control" placeholder="Email Address"
                                    aria-label="Business" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                                <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Business"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="country">Country</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Select Country...</option>
                                    <option value="Nigeria">Nigeria</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                </select>
                                <label class="input-group-text" for="state">State</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Select State...</option>
                                    <option value="Abia">Abia</option>
                                    <option value="Adamawa">Adamawa</option>
                                    <option value="Akwa Ibom">Akwa Ibom</option>
                                    <option value="Anambra">Anambra</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-suitcase"></i></span>
                                <input type="text" class="form-control" placeholder="Address" aria-label="Business"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Company Logo</label>
                                <input type="file" class="form-control" id="companyLogo">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="password" class="form-control" placeholder="Password" aria-label="Business"
                                    aria-describedby="basic-addon1">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Business"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit" class="btn btn-primary" style="width: 100%;">Sign Up</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>