<div class="page-wrapper">

    <!-- Page Content-->
    <div class="container-xxl mt-5 mb-5">                    
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <i class="icofont-bird-wings d-inline-block mt-2 display-4 text-blue"></i>
                            <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Free plan</h6>
                            <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                                <li>* User Accounts</li>
                                <li>* Products</li>
                                <li>* Addresses</li>
                                <li>* Orders</li>
                                <li>* Notifications</li>
                            </ul> 
                            <hr class="hr-dashed">   
                            <div class="pt-2">
                                <h2 class="d-inline-block ">₦0.00</h2>
                                <small class="font-12 text-muted">/month</small>
                            </div>                                        
                            <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                        </div><!--end pricing Table-->              
                    </div><!--end card-body--> 
                </div><!--end card--> 
            </div> <!--end col--> 
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <i class="icofont-woman-bird d-inline-block mt-2 display-4 text-pink"></i>
                            <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Basic Plan</h6>
                            <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                                <li>* User Accounts</li>
                                <li>* Products</li>
                                <li>* Addresses</li>
                                <li>* Orders</li>
                                <li>* Notifications</li>
                            </ul> 
                            <hr class="hr-dashed">   
                            <div class="pt-2">
                                <h2 class="d-inline-block ">₦5k</h2>
                                <small class="font-12 text-muted">/month</small>
                            </div>                                        
                            <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                        </div><!--end pricing Table-->              
                    </div><!--end card-body--> 
                </div><!--end card--> 
            </div> <!--end col-->  
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <i class="icofont-elk d-inline-block mt-2 display-4 text-success"></i>
                            <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Premium Plan</h6>
                            <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                                <li>* User Accounts</li>
                                <li>* Products</li>
                                <li>* Addresses</li>
                                <li>* Orders</li>
                                <li>* Notifications</li>
                            </ul> 
                            <hr class="hr-dashed">   
                            <div class="pt-2">
                                <h2 class="d-inline-block ">₦10k</h2>
                                <small class="font-12 text-muted">/month</small>
                            </div>                                        
                            <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                        </div><!--end pricing Table-->              
                    </div><!--end card-body--> 
                </div><!--end card--> 
            </div> <!--end col-->  
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <i class="icofont-fire-burn d-inline-block mt-2 display-4 text-warning"></i>
                            <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Gold Plan</h6>
                            <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                                <li>* User Accounts</li>
                                <li>* Products</li>
                                <li>* Addresses</li>
                                <li>* Orders</li>
                                <li>* Notifications</li>
                            </ul> 
                            <hr class="hr-dashed">   
                            <div class="pt-2">
                                <h2 class="d-inline-block ">₦25k</h2>
                                <small class="font-12 text-muted">/month</small>
                            </div>                                        
                            <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                        </div><!--end pricing Table-->              
                    </div><!--end card-body--> 
                </div><!--end card--> 
            </div> <!--end col-->                                                        
        </div><!--end row-->         
    </div><!-- container -->
    <!-- end page content -->
</div>
<!-- end page-wrapper -->