<nav class="navbar navbar-expand-lg seller-panel-top-nav fixed-top">

    <a style="cursor: pointer !important; color: #ffffff !important; text-shadow: 2px 2px 4px #000000 !important; text-decoration: overline; z-index: 2;"
        class="navbar-brand mt-3"></a>

    <div class="btn-group" style="float: right !important;">

        <button type="button" style="border-top: 0;" class="btn dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(190, 150, 150, 0.19); border: 0 !important;">
            <i class="fa fa-user-o" style="color:#fff"></i>
        </button>

    </div>

    <i style="float:right; cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
        class="navbar-toggler fa fa-user-o" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </i>


</nav>




<div class="container-fluid main">

    <div class="wrapper">

        <div class="sidenav" id="sidenav">

            <div class="sidenav-head">
                <div>
                    <img src="medmap&logs-10.png" class="user-img img-fluid">
                </div>
            </div>

            <div class="sidenav-content" id="mySellerPanelRoutes">


                <li><a class="sellerPanelRoute sellerPanelActiveRoute" routerLink="analytics"> <fa-icon [icon]="faGauge"></fa-icon> Dashboard </a></li>

                <li><a class="sellerPanelRoute" routerLink="categories"> <fa-icon [icon]="faList"></fa-icon> Categories </a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="products"> <fa-icon [icon]="faShop"></fa-icon> Products </a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="seller-settings">Orders<i
                            class="fas fa-cog fa-spin ko"></i></a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="seller-settings"> Purchases <i
                            class="fas fa-cog fa-spin ko"></i></a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="seller-settings"> Suppliers <i
                            class="fas fa-cog fa-spin ko"></i></a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="transfers"> <fa-icon [icon]="faTruck"></fa-icon> Transfers </a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="users"> <fa-icon [icon]="faUser"></fa-icon> Users </a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="settings"> <fa-icon [icon]="faUserGear"></fa-icon> Settings </a>
                </li>

                <li><a class="sellerPanelRoute" routerLink="/"> <fa-icon [icon]="faRightFromBracket"></fa-icon> Logout </a>
                </li>

            </div>
        </div>

        <div class="main-content mt-5">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="routeOverlay" id="routeOverlay"></div>

</div>