<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Logs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left-aligned links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="terms-of-service">Terms of Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="privacy-policy">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="refund-policy">Refund Policy</a>
        </li>
      </ul>

      <!-- Right-aligned links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
