/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #7A1CAC !important;
}

.action-btn {
  background-color: #7A1CAC !important;
  color: #FFFFFF;
  border-radius: 5px;
}

.btn-outline-success {
  color: #7A1CAC !important;
  border-color: #7A1CAC !important;
}

.btn-outline-success:hover {
  background-color: #7A1CAC !important;
  color: #FFFFFF !important;
}