@media only screen and (min-width: 992px) {
    .add-warehouse-container {
        padding: 50px;
        padding-top: 0;
    }

    .add-warehouse-form-container-card {
        padding: 30px;
    }
}

.add-warehouse-container .dashboard-section-nav {
    margin-top: 40px;
    margin-bottom: 30px;
}

.example-full-width {
    width: 100%;
  }

.add-warehouse-form-field {
    width: 100%;
}